table {
    /*border-collapse: collapse;*/
}

table, td, tr, th {
    border: 1px solid black;
}

.part-resource {
    background: grey;
    color: gold;
}

.completed-item, .completed-part {
    background: green;
    color: white;
}

.hidden-weapon {
    display: none;
}

.heading {
    font-size: x-large;
    text-align: center;
    background: black;
    color: white;
}
