table {
    /*border-collapse: collapse;*/
}

table, td, tr, th {
    border: 1px solid black;
}

.completed-item, .completed-part {
    background: green;
    color: white;
}

.hidden-weapon {
    display: none;
}
